@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
html, body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  min-width: 0 !important;
}

a, .btn-link {
  color: #0366d6;
}

.nav-link {
  text-decoration: none;
}

.nav-link:hover {
  background-color: rgba(106, 3, 3, 0.50);
  color: white;
  cursor: pointer;
}

.nav-link.active {
  background-color: rgba(106, 3, 3, 0.80);
}

.btn {
  padding: .25rem .75rem;
}

.btn-primary {
  color: #fff;
  background-color: #612629;
  border-color: #572225;
}

.btn-primary:hover {
  background-color: #681414;
  border-color: #000;
}

app {
  /* background-color: #ebebeb; */
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  max-width: 100vw;
  min-height: 100vh;
  margin: auto;
}

#load-container {
  align-self: center;
  top: 30vh;
  position: absolute;
  font-size: 1.3rem;
}

.dot {
  animation-name: dotdotdot;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

#dot1 {
  animation-delay: 0;
}

#dot2 {
  animation-delay: .2s;
}

#dot3 {
  animation-delay: .4s;
}

@keyframes dotdotdot {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.header.top-bar {
  box-shadow: 0px 1px 4px 0px gray;
}

.top-row {
  height: 3.5rem;
  display: flex;
  align-items: center;
}

.top-banner {
  height: 45vh;
  max-height: 60vw;
  width: 100%;
  display: flex;
  background-image: url('../images/header/Bo_Ute.jpg');
  background-position-x: 10%;
  background-position-y: -15vw;
  background-repeat: no-repeat;
  background-size: 100vw;
  background-attachment: fixed;
}

.top-banner .navbar {
  background-color: rgba(99, 34, 37, 0.9);
  height: max-content;
  justify-content: center;
  padding: 0;
  font-size: 13px;
  font-weight: bold;
  width: 100%;
  position: fixed;
}

#nav-list {
  min-width: 360px;
  width: 85vw;
  max-width: 1100px;
  max-height: 35.5px;
  display: flex;
  flex-wrap: nowrap;
}

.nav-link {
  padding: .5rem .8rem;
}



.nav-link:focus-visible, .nav-link:focus {
  outline: 2px solid black;
  border-radius: 2px;
  box-shadow: none;
  border-color: transparent;
}

.nav-link, .nav-item {
  color: white;
  min-width: max-content;
}

#nav-item-extra {
  max-width: 56.5px;
  min-width: 56.5px;
  display: flex;
  flex-direction: column;
}

#nav-ellipses {
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  padding-bottom: 1rem;
  line-height: 12px;
  user-select: none;
}

#nav-list-extra {
  list-style: none;
  background-color: rgb(102, 47, 47);
  padding: 5px 10px;
  width: max-content;
  margin-top: -1px;
  border: 1px solid #868383;
}

#nav-list-extra>li {
  padding: 5px 0;
}

.main {
  flex: 1;
  margin: auto;
}

.main h2 {
  font-size: calc(1rem + .7vw);
}

.content {
  /* background-color: white; */
  padding: 1.5rem;
  padding-top: 5vh;
  padding-bottom: 10vh;
  margin: 25px 0;
  width: 70vw;
  min-width: 330px;
  max-width: 1100px;
  /* box-shadow: 0px 1px 3px 0px gray; */
}

article {
  margin-top: 2vh;
}

article aside {
  padding-left: 15px;
  margin-left: 15px;
  margin-top: 10px;
  float: right;
  width: 45%;
  min-width: 240px;
  max-width: 100%;
}

article aside figure figcaption {
  font-size: 0.8rem;
  font-style: italic;
}

figure>img {
  width: 100%;
}

.centered {
  text-align: center;
}

#permanent {
  margin: 0;
  margin-bottom: 4rem;
}

#permanent .exh {
  margin: 0;
}

.exhibitions {
  margin: 3rem 0 6rem;
}

.exhibitions * {
  text-align: center;
}

.upcoming .exh:last-child {
  margin-top: 50px;
}

header * {
  margin: 0;
  text-align: center;
}

.exh-list, .year-list {
  list-style: none;
  padding: 0;
  margin-bottom: 60px;
}

.year-list {
  margin-top: 2rem;
}

.year-article {
  margin-bottom: 2rem;
}

.exh {
  margin: 1.5rem 0;
  font-size: larger;
  font-style: italic;
}

.content #featured figure {
  width: min-content;
  text-align: center;
  padding: 17px;
  background-color: beige;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 3px;
}

.content #featured img {
  width: unset;
  margin: auto;
  box-shadow: 1px 1px 1px 1px black;
}

#featured figcaption {
  font-weight: bold;
  font-size: 0.9rem;
  margin: 5px 0 10px;
}

figcaption span.title {
  font-style: italic;
}

.content #other img {
  margin: auto;
  max-width: 250px;
  box-shadow: 1px 1px 1px 1px black;
}

.img-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  grid-gap: 50px;
  margin-top: 5vh;
  align-items: center;
}

.img-grid>a {
  margin: auto;
}

section#book {
  width: 60%;
  margin: auto;
}

#book>.img-grid>a>img {
  height: 340px;
}

p#book-info {
  font-size: 0.85rem;
  text-align: center;
  margin: 2rem 0;
}

p#book-info span {
  font-style: italic;
}

section#vendela {
  margin-top: 100px;
  text-align: center;
}

section#vendela img {
  width: 60vw;
  max-width: 700px;
}

.valid.modified:not([type=checkbox]) {
  outline: 1px solid #26b050;
}

.invalid {
  outline: 1px solid red;
}

.validation-message {
  color: red;
}

#blazor-error-ui {
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#blazor-error-ui .dismiss {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}

@media (max-width: 670px) {
  article aside {
    float: none;
    margin-left: 0;
  }
  article aside figure {
    margin: 1rem 0 1rem;
  }
  .menu-wrapper {
    visibility: visible;
  }
  .top-row.navbar {
    justify-content: start;
  }
  #nav-list {
    width: 100%;
  }
  #nav-list-extra {
    align-self: flex-end;
  }
  /* #nav-list:not(.show) {
    display: none;
  } */
}

.footer {
  position: sticky;
  bottom: 0;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  background-color: white;
}

.footer hr {
  height: 1px;
  margin: 3px 0;
  background-color: #808000;
}

.footer address {
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer span {
  padding: 0 7px;
}