@page "/artist"

<article>
  <h2>Om Konstnären Bo Alström</h2>
  <aside>
    <figure>
      <img src="http://www.trevisan-international-art.com/images_artists_current/alstrom_bo/gallery/alstrom_%20gallery/alstrom_portrait1.jpg" alt="Bild på Konstnären Bo Alström">
      <figcaption>Konstnär Bo Alström</figcaption>
    </figure>
  </aside>
  
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore excepturi impedit illo voluptates maiores velit accusantium ipsam eligendi amet cum quibusdam harum, dolore sunt, nisi hic ullam dicta suscipit soluta? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quas obcaecati mollitia iusto distinctio soluta enim, sed magnam accusantium pariatur ut aperiam officiis ratione praesentium atque voluptas modi dignissimos est!
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos amet quisquam rem perspiciatis modi, facilis sint dicta qui ea at et asperiores cum illo? Blanditiis sapiente doloremque id vitae corporis.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores tempore voluptatum amet error laboriosam corporis reprehenderit, consequatur accusamus quasi provident eligendi aperiam nobis nam distinctio molestias nostrum alias minus sequi.
  </p>
</article>