@page "/buy"

<h2 class="centered">Verk Till Salu</h2>
<section id="featured" class="img-grid">
  <ImageCard Title="Byzantions Ljus" Img="ByzantionsLjus"
    Caption="Byzantions ljus. Giclétryck, 60X80cm, 25st numrerade och signerade blad, 3 200:- /blad" />
  <ImageCard Title="Byzantions Ljus" Img="ByzantionsLjus"
    Caption="Byzantions ljus. Giclétryck, 60X80cm, 25st numrerade och signerade blad, 3 200:- /blad" />
  <ImageCard Title="Byzantions Ljus" Img="ByzantionsLjus"
    Caption="Byzantions ljus. Giclétryck, 60X80cm, 25st numrerade och signerade blad, 3 200:- /blad" />
  <ImageCard Title="Byzantions Ljus" Img="ByzantionsLjus"
    Caption="Byzantions ljus. Giclétryck, 60X80cm, 25st numrerade och signerade blad, 3 200:- /blad" />
</section>
