@page "/buy"

<h2 class="centered">Verk till salu</h2>
<section id="featured" class="img-grid">
  <ImageCard Title="Leoparden" Img="Leoparden" Caption="Litografi, numrerat och signerat, 1 500:- (inkl frakt)" />
  <ImageCard Title="Mister Dowlands Midnight" Img="MisterDowlandsMidnight"
    Caption="Giclétryck, numrerat och signerat, 1 500:- (inkl frakt)" />
  <ImageCard Title="Odysseus" Img="Odysseus" Caption="Litografi, numrerat och signerat, 1 500:- (inkl frakt)" />
  <ImageCard Title="Stilleben med urna" Img="StillebenMedUrna"
    Caption="Giclétryck, numrerat och signerat. 1 500:- /blad" />
  <ImageCard Title="Universum finns" Img="UniversumFinns" Caption="Giclétryck, numrerat och signerat. 1 500:- /blad" />
  <ImageCard Title="Byzantions ljus" Img="ByzantionsLjus"
    Caption="Giclétryck, 60X80cm, 25st numrerade och signerade blad, 3 200:- /blad" />
</section>
