@page "/buy"

<h2 class="centered">Verk Till Salu</h2>
<section id="featured" class="img-grid">
  <figure>
    <EnlargableImage Dir="pictures" Name="ByzantionsLjus" />
    <figcaption>
      Byzantions ljus. Giclétryck, 60X80cm,
      25st numrerade och signerade blad <br>
      3 200:- /blad
    </figcaption>
  </figure>
  <figure>
    <EnlargableImage Dir="pictures" Name="ByzantionsLjus" />
    <figcaption>
      Byzantions ljus. Giclétryck, 60X80cm,
      25st numrerade och signerade blad <br>
      3 200:- /blad
    </figcaption>
  </figure>
  <figure>
    <EnlargableImage Dir="pictures" Name="ByzantionsLjus" />
    <figcaption>
      Byzantions ljus. Giclétryck, 60X80cm,
      25st numrerade och signerade blad <br>
      3 200:- /blad
    </figcaption>
  </figure>
</section>
