@page "/buy"

<h2 class="centered">Verk till salu</h2>
<section id="featured" class="img-grid">
  <ImageCard Title="Stilleben med urna" Img="StillebenMedUrna"
    Caption="Giclétryck, numrerat och signerat. 1 500:- /blad" />
  <ImageCard Title="Universum finns" Img="UniversumFinns"
    Caption="Giclétryck, numrerat och signerat. 1 500:- /blad" />
  <ImageCard Title="Byzantions ljus" Img="ByzantionsLjus"
    Caption="Giclétryck, 60X80cm, 25st numrerade och signerade blad, 3 200:- /blad" />
  @* <ImageCard Title="" Img=""
    Caption="Giclétryck, numrerat och signerat, 1 500:- /blad" /> *@
</section>
