@page "/exhibitions"

<section class="upcoming exhibitions">
  <h3>Kommande Utställningar</h3>

  <ul class="exh-list">
    <li class="exh">
     Sigtuna Kulturgård 15/10 - 30/10  2016
    </li>
    <li class="exh">
    AVA Galleria, Tokyo våren 2017
    </li>
    <li class="exh">
    Utställning  av mina verk förekommer också  permanent, dagligen på Wenngarns slott
    </li>
  </ul>
</section>

<section class="previous exhibitions">
  <header>
    <h3>Tidigare Utställningar</h3>
    <p>(i mycket strängt urval)</p>
  </header>
  <ul class="year-list">
    <li class="year-article">
      <ul class="exh-list">
        <h3 class="year">2015</h3>
        <li class="exh">
        My Blue and Yellow, AVA Galleria, Wenngarn slott, Juni 2015
        </li>
        <li class="exh">
        Galleri Trevisan Bologna, Oktober 2015
        </li>
      </ul>
    </li>

    <li class="year-article">
      <ul class="exh-list">
        <h3 class="year">2014</h3>
        <li class="exh">
          Rio de Janeiro, Sao Paolo, i samband med Fotbolls VM
        </li>
        <li class="exh">
          Utställning 361, Wenngarns Slott
        </li>
      </ul>
    </li>
  </ul>


<div style="display: none">
  

2011

KONSTMÄSSAN I KISTA, 30 september - 2 oktober

GALLERI TREVISAN, BOLOGNA, 19 november - 1 december

 


2010
VÄGGMÅLNING i Prästängshallen, Sigtuna

GRÖNA GALLERIET, Sigtuna, 29 maj och framåt midsommar

Konstnärernas Höstssalong

Stockholm/Kista mässhall, 24 - 26 september 2010

Konstmässan Carrousel du Louvre, Paris, 22 - 24 oktober 2010

 
2009

Konstmässan i Kista Stockholm

Galleri Villavägen 7, Uppsala 

2008

Galleri Villavägen 7, Uppsala

Utställningen Haldo Hanssons minne, Hackås

Mariakyrkan, Sigtuna,

Gröna Galleriet, Sigtuna

Galleri Rönnquist, Malmö

Galleri Nykvarn, Enköping

2007

Moskva/ Troitsk  (akvareller)

Pavillion Kind, Luxembourg

2006

Gallerie Rönnquist, Malmö

Gallerie Gummesons, Stockholm

Kaliningrad,Ryssland  (Slaget)

2005

Moskva, och Petrozavodsk, SLAGET

2004

Galleri Bennetter, Stockholm

2003

Galleri Rönnquist och Rönnquist, Malmö 

Galleri Nykvarn

Roma Kungsgård, Slaget 
Poesin i vardagen, Volvo Showroom, Stockholm

 

2002
Gallerie Gummesons, Stockholm 

Tema Stockholm, Volvo Showroom, Stockholm

 

2001

Galleri Rönnquist och Rönnquist, Malmö(separatutst)

Volvo Showroom, Kungsträdgården, Stockholm

Forsbergs Gallerier, Härja 

Volvo Showroom, Kungsträdgården, Stockholm

 

2000
Utställningen Slaget, Kastellholms slott, Åland


1999

Utställningen Slaget på Sigtuna museum.


1997
Väggmålning för S:t Pers skola i Sigtuna

 

1996

Sigtuna, Galleri Trekanten, (

Sigtuna, Två målningar, installation i S:t Olovs kyrkoruin Sigtuna

Ascer Maartenson Gallery, Lund 

Galleri Bild och Form, Västerås, 

Sigtuna; vandring i konsten från advent till trettondagen. Projekt i Mariakyrkan

 

1995

Lidköping, Projektet Skapelser, installationer i Västergötlands kyrkor

Sigtuna, Påskvandringar, Projekt i Mariakyrkan.

Galleri Art 21, 

Upplands Väsby, Galleri Överby Gård, 

 

1994

Stockholm, Italienska Kulturinstitutet 

Lidköping, Projektet Konst-Kultur-Kommunikation

 

1993

Lidköping, Flaggor kring Kinneviken

Grythyttan,Galleri Callius

 

1992

Borlänge, Dalecarlia Art Fair

Tidaholm, Galleri Olov Fredrik, Härja

Göteborg, Galleri Axelsson,

Nacka Konsthall, Bo med konst.

Galleri Nykvarn,

Pittigliano, Italien, Palazzo Orsini

 

1991

Stockholm, Galleri Bennetter

 

1990

Ingen utställning. Arbetade med HSB- målningar i Nacka.

 

1965

Debut, separatutställning

Galleri Fem Sekler, Stockholm

1964                                               

Liljevalchs, Vårsalongen

Övriga utställningar genom åren

1965

Liljevalchs ,vårsalongen

Stockholm, Galleri Fem Sekler (separatutst.)

 

1966

Göteborgs Konsthall, Naiver

Stockholm, Naivt i Gamla Stan

Björkhagen, Läkarhuset

 

1967

Liljevalchs,Vårsalongen

Härnösand,Naiver

Kalmar Konstmuseum,Sydosten

Stockholm, Micro,Galleri Hedenius

 

1968

Liljevalchs, Vårsalongen

Sundsvall och Örnsköldsvik, Naiver

New Rochelle,New York, Gallerie Unique

Kalmar och Härnösand, Mini

Örebro, Galleri Engelbrekt, Naiver

Stockholm, Galleri Hedenius, Micro

 

1969

Kalmar Konstmuseum, Naiver

Liljevalchs, Vårsalongen

Göteborg, Galleri AE, Dröm och verklighet

Uppsala, Vårsalong

Stockholm, Galleri Aestetica (SEPARATUTST.)

Västerås, Galleri Belle, Naiver

Stockholm, Gallleri Heland

Stockholm, Galleri Hedenius, Micro

 

1970

Östersund, Galleri Norrland, (SEPARATUTST.)

Göteborgs Konstmuseum, Tolv naiver

Antibes, Frankrike, Gallerie Art Club, (SEPARATUTSTÄLLNING)

Märsta, Vallstaskolan

Stockholm, Galleri Heland

Stockholm, Galleri Hedenius, MIcro

 

1971

Jönköpings Museum, Naiver

Linköpings Museum, Naiver

Zagreb, Jugoslavien, Naiver

Stockholm, Galleri Latina, (SEPARATUTSTÄLLNING)

Stockhom, Galleri Hedenius, Micro

 

1972

Sigtuna Museum, (SEPARATUTSTÄLLNING)

Sigtuna Museum, Samlingsutställning

Menton, Frankrike, Biennalen

SIGTUNA KOMMUNS KULTURSTIPENDIUM, NOV. 4000:-

 

1973

Mjölby kulturnämnd, (SEPARATUTSTÄLLNING)

Statens Riksutställningar

Uppsala, Galleri Konstcentrum, okt. (SEPARATUTSTÄLLNING)

 

1974

Stockholm, Tio år med Galleri Latina

 

1975

Sigtuna Museum (SEPARATUTSTÄLLNING)

 

1976

Kalmar Konstmuseum, (SEPARATUTST.)

Sigtuna Museum, Människa, natur, förändring.

Stockholm, Galleri Heland, Naiver

 

1977

Liljevalchs Vårsalongen

Sigtuna, Gröna Galleriet

Kalmar Konstmuseum, Sydosten (höstsalong)

Tammerfors Finland, Moderna Museet

Uppsala Konstförening, Novembersalong

 

1985

Stockholm, Galleri Lucidor (SEPARATUTST.)

Göteborg, Galleri AE, (SEPARATUTST.)

 

1986

Uppsala, Galleri Smedhamre, (SEPARATUTST.)

 

1987

Sigtuna Museum, (SEPARATUTST.)

 

1988

Lindesbergs Kommun, (SEPARATUTST.)

 

1989

Sundsvall, Nordic Art Fair (SEPARATUTST.)
</div>
</section>