@page "/exhibitions"
@inject HttpClient Http

<section id="permanent" class="exhibitions">
  <p class="exh">
    Pågående utställning på Wenngarns slott
  </p>
  @* <p class="exh">
    Permanent utställning av mina verk förekommer dagligen på Wenngarns slott
    </p> *@
</section>
<hr>
<section class="upcoming exhibitions">

  <h3>Kommande Utställningar</h3>
  <ul class="exh-list">
    <li class="exh">
      Kommer snart...
    </li>
  </ul>
</section>
<hr>
<section class="previous exhibitions">
  <header>
    <h3>Tidigare Utställningar</h3>
    <p>(i mycket strängt urval)</p>
  </header>
@if (exhibitions == null)
{
    <p><em>Loading...</em></p>
}
else
{
  <ul class="year-list">

    @foreach (var yearlyExhibitions in exhibitions) {
      <li class="year-article">
        <ul class="exh-list">
          <h3 class="year">@yearlyExhibitions.Year</h3>
          @foreach(var exhibition in yearlyExhibitions.Exhibitions) {
            <li class="exh">
              @exhibition
            </li>
          }
        </ul>
      </li>
    }
  </ul>
}
</section>

@code {

  private YearlyExhibitions[] exhibitions;
  
  protected override async Task OnInitializedAsync()
  {
      exhibitions = await Http.GetFromJsonAsync<YearlyExhibitions[]>("sample-data/exh.json");
  }

  public class YearlyExhibitions {

    public int Year { get; set; }

    public string[] Exhibitions { get; set; }
  }

}