@page "/"

<h2>Välkommen till Bo Alströms hemsida</h2>
<article>
  <aside>
    <figure>
      <img src="images/home/Vid-skissbordet.jpg" alt="Bo Alström vid skissbordet">
      <figcaption>Bo Alström vid skissbordet</figcaption>
    </figure>
  </aside>
  
  <p>
    Bo Alström, född 1937, har varit verksam som professionell konstnär sedan 1965. Teoretiska studier i Konstvetenskap vid Uppsala universitet. Gjort utställningar i Sverige och utomlands. Människan i olika tider och epoker är ett återkommande innehåll. Separatutställning i Stockholm och olika delar av landet, samt Antibes, Biennalen i Menton och i Luxemburg.
  </p>

  <p>
    Har fullgjort konstnärliga utsmyckningsuppdrag åt HSB, samt i skolor och andra institutioner. Har haft uppdrag som dekormålare vid Sveriges Television och vid andra teateruppsättningar. Har utfört dekorationer på Ekolsunds Slott och Wärdshus.
  </p>

  <p>
    Arbetade vid mitten av 1990-talet fram utställningen Slaget - en väg till fred, i samarbete med Sigtuna museum. Den kom
    att visas, förutom på skilda platser i Sverige, i Moskva och andra Ryska städer samt på Åland.
  </p>

  
  <p>
    Ateljén är belägen på Wenngarns slott utanför Sigtuna.
  </p>
</article>