@page "/other"

<section id="book">
  <div class="img-grid">
    <EnlargableImage Dir="other" Name="VilseiJattarnasLand-Framsida" />
    <EnlargableImage Dir="other" Name="VilseiJattarnasLand-Baksida" />
  </div>
  <p id="book-info">
    Bo Alström är också författare till boken 
    <span>Vilse i Jättarnas Land.</span>
  </p>
</section>

<section id="vendela">
  <p>Glad Konst på dig!</p>
  <img src="images/other/VendelahalleriBosse-tavla.jpg" alt="">
</section>