@page "/pictures"

<section id="other" class="img-grid">
    <a href="images/pictures/big/Ur Sjofartens Historia 2.jpg" target="_blank" rel="noopener noreferrer">
        <img src="images/pictures/small/Ur Sjofartens Historia 2_small.jpg" alt="">
    </a>
    <a href="images/pictures/big/Amiralen-Akvarell.jpg" alt="" target="_blank" rel="noopener noreferrer">
        <img src="images/pictures/small/Amiralen-Akvarell_small.jpg" alt="">
    </a>
    <a href="images/pictures/big/AgincourtC.jpg" alt="" target="_blank" rel="noopener noreferrer">
        <img src="images/pictures/small/AgincourtC_small.jpg" alt="">
    </a>
    <a href="images/pictures/big/BoHastarKat.jpg" alt="" target="_blank" rel="noopener noreferrer">
        <img src="images/pictures/small/BoHastarKat_small.jpg" alt="">
    </a>
    <a href="images/pictures/big/BadGodesberg.jpg" alt="" target="_blank" rel="noopener noreferrer">
        <img src="images/pictures/small/BadGodesberg_small.jpg" alt="">
    </a>
    <a href="images/pictures/big/BoTrappan.jpg" alt="" target="_blank" rel="noopener noreferrer">
        <img src="images/pictures/small/BoTrappan_small.jpg" alt="">
    </a>
    <a href="images/pictures/big/BoOrangeri.jpg" alt="" target="_blank" rel="noopener noreferrer">
        <img src="images/pictures/small/BoOrangeri_small.jpg" alt="">
    </a>
    <a href="images/pictures/big/Byzantions Ljus.jpg" alt="" target="_blank" rel="noopener noreferrer">
        <img src="images/pictures/small/Byzantions Ljus_small.jpg" alt="">
    </a>
    <a href="images/pictures/big/Bo_Ute.jpg" alt="" target="_blank" rel="noopener noreferrer">
        <img src="images/pictures/small/Bo_Ute_small.jpg" alt="">
    </a>
    <a href="images/pictures/big/Filosof vid Vattenfall-Ljusare_small.jpg" target="_blank" rel="noopener noreferrer">
        <img src="images/pictures/small/Filosof vid Vattenfall-Ljusare_small.jpg" alt="">
    </a>
    <a href="images/pictures/big/Dunsinan Castle.jpg" alt="" target="_blank" rel="noopener noreferrer">
        <img src="images/pictures/small/Dunsinan Castle_small.jpg" alt="">
    </a>
    <a href="images/pictures/big/Fursten.jpg" alt="" target="_blank" rel="noopener noreferrer">
        <img src="images/pictures/small/Fursten_small.jpg" alt="">
    </a>
    <a href="images/pictures/big/Fjarran Natter.jpg" alt="" target="_blank" rel="noopener noreferrer">
        <img src="images/pictures/small/Fjarran Natter_small.jpg" alt="">
    </a>
    <a href="images/pictures/big/Hollandaren.jpg" alt="" target="_blank" rel="noopener noreferrer">
        <img src="images/pictures/small/Hollandaren_small.jpg" alt="">
    </a>
    <a href="images/pictures/big/Historiens Ljustranger in i Staden.jp" target="_blank" rel="noopener noreferrer">
        <img src="images/pictures/small/Historiens Ljustranger in i Staden_small.jpg" alt="">
    </a>
    <a href="images/pictures/big/KolbergerHeide.jpg" alt="" target="_blank" rel="noopener noreferrer">
        <img src="images/pictures/small/KolbergerHeide_small.jpg" alt="">
    </a>
    <a href="images/pictures/big/Jaktscener Fran Toscana.jpg" alt="" target="_blank" rel="noopener noreferrer">
        <img src="images/pictures/small/Jaktscener Fran Toscana_small.jpg" alt="">
    </a>
    <a href="images/pictures/big/Nagonstans mot Norr.jpg" alt="" target="_blank" rel="noopener noreferrer">
        <img src="images/pictures/small/Nagonstans mot Norr_small.jpg" alt="">
    </a>
    <a href="images/pictures/big/logo.jpg" alt="" target="_blank" rel="noopener noreferrer">
        <img src="images/pictures/small/logo_small.jpg" alt="">
    </a>
    <a href="images/pictures/big/Rotation of Mac Tvakrona.jpg" target="_blank" rel="noopener noreferrer">
        <img src="images/pictures/small/Rotation of Mac Tvakrona_small.jpg" alt="">
    </a>
    <a href="images/pictures/big/Orangeriet.jpg" alt="" target="_blank" rel="noopener noreferrer">
        <img src="images/pictures/small/Orangeriet_small.jpg" alt="">
    </a>
    <a href="images/pictures/big/Sub Luna-Ryttaren_small.jpg" alt="" target="_blank" rel="noopener noreferrer">
        <img src="images/pictures/small/Sub Luna-Ryttaren_small.jpg" alt="">
    </a>
    <a href="images/pictures/big/Slutlig Bild.jpg" alt="" target="_blank" rel="noopener noreferrer">
        <img src="images/pictures/small/Slutlig Bild_small.jpg" alt="">
    </a>
    <a href="images/pictures/big/Ur Sjofartens Historia.jpg" alt="" target="_blank" rel="noopener noreferrer">
        <img src="images/pictures/small/Ur Sjofartens Historia_small.jpg" alt="">
    </a>
    <a href="images/pictures/big/Ur Roms Ruiner.jpg" alt="" target="_blank" rel="noopener noreferrer">
        <img src="images/pictures/small/Ur Roms Ruiner_small.jpg" alt="">
    </a>
    <a href="images/pictures/small/Vanda Extas_small.jpg" alt="" target="_blank" rel="noopener noreferrer">
        <img src="images/pictures/small/Vanda Extas_small.jpg" alt="">
    </a>
</section>