@page "/pictures"

<section id="other" class="img-grid">
    <EnlargableImage ImgName="UrSjofartensHistoria2" />
    <EnlargableImage ImgName="Amiralen-Akvarell"/>
    <EnlargableImage ImgName="AgincourtC" />

    <EnlargableImage ImgName="BoHastarKat" />
    <EnlargableImage ImgName="BadGodesberg" />

    <EnlargableImage ImgName="BoTrappan" />
    <EnlargableImage ImgName="BoOrangeri" />
    <EnlargableImage ImgName="ByzantionsLjus" />
    <EnlargableImage ImgName="Bo_Ute" />
    <EnlargableImage ImgName="FilosofvidVattenfall-Ljusare" />
    <EnlargableImage ImgName="DunsinanCastle" />
    <EnlargableImage ImgName="Fursten" />
    <EnlargableImage ImgName="FjarranNatter" />


    <a href="images/pictures/big/Hollandaren.jpg" alt="" target="_blank" rel="noopener noreferrer">
        <img src="images/pictures/small/Hollandaren_small.jpg" alt="">
    </a>
    <a href="images/pictures/big/Historiens Ljustranger in i Staden.jp" target="_blank" rel="noopener noreferrer">
        <img src="images/pictures/small/Historiens Ljustranger in i Staden_small.jpg" alt="">
    </a>
    <a href="images/pictures/big/KolbergerHeide.jpg" alt="" target="_blank" rel="noopener noreferrer">
        <img src="images/pictures/small/KolbergerHeide_small.jpg" alt="">
    </a>
    <a href="images/pictures/big/Jaktscener Fran Toscana.jpg" alt="" target="_blank" rel="noopener noreferrer">
        <img src="images/pictures/small/Jaktscener Fran Toscana_small.jpg" alt="">
    </a>
    <a href="images/pictures/big/Nagonstans mot Norr.jpg" alt="" target="_blank" rel="noopener noreferrer">
        <img src="images/pictures/small/Nagonstans mot Norr_small.jpg" alt="">
    </a>
    <a href="images/pictures/big/logo.jpg" alt="" target="_blank" rel="noopener noreferrer">
        <img src="images/pictures/small/logo_small.jpg" alt="">
    </a>
    <a href="images/pictures/big/Rotation of Mac Tvakrona.jpg" target="_blank" rel="noopener noreferrer">
        <img src="images/pictures/small/Rotation of Mac Tvakrona_small.jpg" alt="">
    </a>
    <a href="images/pictures/big/Orangeriet.jpg" alt="" target="_blank" rel="noopener noreferrer">
        <img src="images/pictures/small/Orangeriet_small.jpg" alt="">
    </a>
    <a href="images/pictures/big/Sub Luna-Ryttaren_small.jpg" alt="" target="_blank" rel="noopener noreferrer">
        <img src="images/pictures/small/Sub Luna-Ryttaren_small.jpg" alt="">
    </a>
    <a href="images/pictures/big/Slutlig Bild.jpg" alt="" target="_blank" rel="noopener noreferrer">
        <img src="images/pictures/small/Slutlig Bild_small.jpg" alt="">
    </a>
    <a href="images/pictures/big/Ur Sjofartens Historia.jpg" alt="" target="_blank" rel="noopener noreferrer">
        <img src="images/pictures/small/Ur Sjofartens Historia_small.jpg" alt="">
    </a>
    <a href="images/pictures/big/Ur Roms Ruiner.jpg" alt="" target="_blank" rel="noopener noreferrer">
        <img src="images/pictures/small/Ur Roms Ruiner_small.jpg" alt="">
    </a>
    <a href="images/pictures/small/Vanda Extas_small.jpg" alt="" target="_blank" rel="noopener noreferrer">
        <img src="images/pictures/small/Vanda Extas_small.jpg" alt="">
    </a>
</section>