@page "/pictures"

<section id="other" class="img-grid">
    <EnlargableImage Dir="pictures" Name="StillebenMedUrna" />
    <EnlargableImage Dir="pictures" Name="UniversumFinns" />
    <EnlargableImage Dir="pictures" Name="UrSjofartensHistoria2" />
    <EnlargableImage Dir="pictures" Name="Amiralen-Akvarell"/>
    <EnlargableImage Dir="pictures" Name="AgincourtC" />
    <EnlargableImage Dir="pictures" Name="BoHastarKat" />
    <EnlargableImage Dir="pictures" Name="BadGodesberg" />
    <EnlargableImage Dir="pictures" Name="BoTrappan" />
    <EnlargableImage Dir="pictures" Name="BoOrangeri" />
    <EnlargableImage Dir="pictures" Name="ByzantionsLjus" />
    <EnlargableImage Dir="pictures" Name="Bo_Ute" />
    <EnlargableImage Dir="pictures" Name="FilosofvidVattenfall-Ljusare" />
    <EnlargableImage Dir="pictures" Name="DunsinanCastle" />
    <EnlargableImage Dir="pictures" Name="Fursten" />
    <EnlargableImage Dir="pictures" Name="FjarranNatter" />
    <EnlargableImage Dir="pictures" Name="Hollandaren" />
    <EnlargableImage Dir="pictures" Name="HistoriensLjustrangeriniStaden" />
    <EnlargableImage Dir="pictures" Name="KolbergerHeide" />
    <EnlargableImage Dir="pictures" Name="JaktscenerFranToscana" />
    <EnlargableImage Dir="pictures" Name="NagonstansmotNorr" />
    <EnlargableImage Dir="pictures" Name="logo" />
    <EnlargableImage Dir="pictures" Name="RotationofMacTvakrona" />
    <EnlargableImage Dir="pictures" Name="Orangeriet" />
    <EnlargableImage Dir="pictures" Name="SubLuna-Ryttaren" />
    <EnlargableImage Dir="pictures" Name="SlutligBild" />
    <EnlargableImage Dir="pictures" Name="UrSjofartensHistoria" />
    <EnlargableImage Dir="pictures" Name="UrRomsRuiner" />
    <EnlargableImage Dir="pictures" Name="VandaExtas" />
</section>