@page "/pictures"

<section id="other" class="img-grid">
    <img src="images/pictures/big/Ur Sjofartens historia 2.jpg" alt="">
    <img src="images/pictures/small/Amiralen-Akvarell_small.jpg" alt=""> 
    <img src="images/pictures/small/AgincourtC_small.jpg" alt=""> 
    <img src="images/pictures/small/BoHastarKat_small.jpg" alt=""> 
    <img src="images/pictures/small/BadGodesberg_small.jpg" alt=""> 
    <img src="images/pictures/small/BoTrappan_small.jpg" alt=""> 
    <img src="images/pictures/small/BoOrangeri_small.jpg" alt=""> 
    <img src="images/pictures/small/Byzantions Ljus_small.jpg" alt=""> 
    <img src="images/pictures/small/Bo_Ute_small.jpg" alt=""> 
    <img src="images/pictures/small/Filosof vid Vattenfall-Ljusare_small.jpg" alt=""> 
    <img src="images/pictures/small/Dunsinan Castle_small.jpg" alt=""> 
    <img src="images/pictures/small/Fursten_small.jpg" alt=""> 
    <img src="images/pictures/small/Fjarran Natter_small.jpg" alt=""> 
    <img src="images/pictures/small/Hollandaren_small.jpg" alt=""> 
    <img src="images/pictures/small/Historiens Ljustranger in i Staden_small.jpg" alt=""> 
    <img src="images/pictures/small/KolbergerHeide_small.jpg" alt=""> 
    <img src="images/pictures/small/Jaktscener Fran Toscana_small.jpg" alt=""> 
    <img src="images/pictures/small/Nagonstans mot Norr_small.jpg" alt=""> 
    <img src="images/pictures/small/logo_small.jpg" alt=""> 
    <img src="images/pictures/small/Rotation of Mac Tvakrona_small.jpg" alt=""> 
    <img src="images/pictures/small/Orangeriet_small.jpg" alt=""> 
    <img src="images/pictures/small/Sub Luna-Ryttaren_small.jpg" alt=""> 
    <img src="images/pictures/small/Slutlig Bild_small.jpg" alt=""> 
    <img src="images/pictures/small/Ur Sjofartens Historia_small.jpg" alt=""> 
    <img src="images/pictures/small/Ur Roms Ruiner_small.jpg" alt=""> 
    <img src="images/pictures/small/Vanda Extas_small.jpg" alt=""> 
</section>