<a href="@BigRef" target="_blank" rel="noopener noreferrer">
  <img src="@SmallRef" alt="@Name">
</a>

@code {
  const string Root = "images/";
  [Parameter]
  public string Dir { get; set; }
  
  [Parameter]
  public string Name { get; set; }

  private string BigRef => $"{Root}{Dir}/big/{Name}.jpg";

  private string SmallRef => $"{Root}{Dir}/small/{Name}_small.jpg";
}