<div class="footer">
  <hr>
  <address>
    <span>
      Bo Alström, Väringavägen 25, 193 35 Sigtuna  
    </span>
    <span class="separator">|</span>
    <span>
      Mobil: <a href="tel:+46707930737">070-793 07 37</a>
    </span>
    <span class="separator">|</span>
    <span>
      E-post: 
      <a href="mailto:bogustafalstrom@gmail.com">bogustafalstrom@gmail.com</a>
    </span>
  </address>
</div>