<div class="footer">
  <hr>
  <address>
    <span>
      Bo Alström, Väringavägen 25, 193 35 Sigtuna  
    </span>
    <span class="separator">|</span>
    <span>
      Telefon: <a href="tel:+468-59254241">08-592 542 41</a> - 
      Mobil: <a href="tel:+46707930737">070-793 07 37</a>
    </span>
    <span class="separator">|</span>
    <span>
      E-post: 
      @* Bo.Alstrom@boalstrom.se / BoAlstrom@hotmail.com *@
      <a href="mailto:BoAlstrom@hotmail.com">BoAlstrom@hotmail.com</a>
    </span>
  </address>
</div>