@inject IJSRuntime JsRuntime
<figure>
  <EnlargableImage Dir="pictures" Name="@Img" />
  <figcaption>
    <span class="title">
    @Title
    </span>
    <br>@Caption<br>
  </figcaption>
  <button class="btn btn-primary" @onclick="SendLocalEmail">Beställ</button>
</figure>

@code {

  const string Recipient = "bogustafalstrom@gmail.com";

  [Parameter]
  public string Title { get; set; }
  [Parameter]
  public string Img { get; set; }
  [Parameter]
  public string Caption { get; set; }

  private string WriteSubject =>  $"Beställning: {Title}";

  private string WriteBody => 
    $"Hej Bo,\r\rJag önskar beställa x exemplar av {Title}. {Caption}.\r";

  protected void SendLocalEmail()
  {
    var toEmailAddress = Recipient;
    var subject = WriteSubject;
    var body = WriteBody;
    JsRuntime.InvokeAsync<object>("blazorExtensions.SendLocalEmail",
    new object[] { toEmailAddress, subject, body });
  }

}