<div class="top-row pl-4 navbar navbar-dark">
    <div class="menu-wrapper" @onclick="ToggleNavMenu">
        <span class="nav-item oi oi-menu"></span>
    </div>
    
    <ul id="nav-list" class="@NavMenuCssClass nav flex-row">
        <li class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                @* <span class="oi oi-home"></span> *@
                Hem
            </NavLink>
        </li>
        <li class="nav-item attractive">
            <NavLink class="nav-link" href="buy">
                Att Köpa
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="exhibitions">
                Utställningar
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="artist">
                Konstnären Själv
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="counter">
                Offentliga Arbeten
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="counter">
                Teckningar
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="counter">
                Projekt
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="pictures">
                Bilder
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="other">
                Övrigt
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool? collapseNavMenu;

    private string NavMenuCssClass => 
        collapseNavMenu == null? null : 
        collapseNavMenu == true? "collapse" : "show";

    private void ToggleNavMenu()
    {
        collapseNavMenu = collapseNavMenu == false? !collapseNavMenu : false;
    }
}
